<html>
	<head>
		<title>OSTime</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="/static/js/form.js"></script>
		<script src="{{ url_for('static', filename='js/form.js') }}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVWXJ6ZR8V"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NVWXJ6ZR8V');
        </script>
	</head>
	<body>
		<div class="socials">
			<h1 id="experience">{{ name }} </h1>
			<a class="patreon" href="https://www.youtube.com/watch?v=gs5OuhjilI8" target="_blank"><img src="/static/img/Youtube_Icon.png"></a>
			<a class="patreon" href="https://twitter.com/OSTimegg" target="_blank"><img src="/static/img/Twitter_Icon.png"></a>
			<a class="patreon" href="https://www.patreon.com/OSTime?fan_landing=true" target="_blank"><img src="/static/img/Patreon_Icon.png"></a>
			<button class="Yoe" id="btc"><img src="/static/img/BTC_LogUwU.PNG"></button>
		</div>
		<div>
			<form id="gp-form">
			  <label for="fname">Enter Your Achievable GP/HR and Your Skill's Level</label><br>
			  <input type="text" id="my-gp" style="width:10%" placeholder="1m">
			  <input type="text" id="my-level" style="width:10%" placeholder="75">
			  <button type="submit" id="update-button" class="btn btn-primary">Optimize</button>
			</form> 
			<button id="click" class="btn btn-secondary">5m</button>
			<button id="click2" class="btn btn-secondary">2.5m</button>
			<button id="click3" class="btn btn-secondary">1m</button>
		</div>
		<div class="icon-bar">
			<button class="Yoe" id="herblore"><img src="/static/img/Herblore_Icon.PNG"></button>
			<button class="Yoe" id="prayer"><img src="/static/img/Prayer_Icon.PNG"></button>
			<button class="Yoe" id="crafting"><img src="/static/img/Crafting_Icon.PNG"></button>
			<button class="Yoe" id="magic"><img src="/static/img/Magic_Icon.PNG"></button>
			<button class="Yoe" id="fletching"><img src="/static/img/Fletching_Icon.PNG"></button>
			<button class="Yoe" id="smithing"><img src="/static/img/Smithing_Icon.PNG"></button>
			<button class="Yoe" id="construction"><img src="/static/img/Construction_Icon.PNG"></button>
			<button class="Yoe" id="firemaking"><img src="/static/img/Firemaking_Icon.PNG"></button>
			<button class="Yoe" id="cooking"><img src="/static/img/Cooking_Icon.PNG"></button>
			<button class="Yoe" id="experience2"><img src="/static/img/Experience_Icon.PNG"></button>
			<button class="Yoe" id="info"><img src="/static/img/Info_Icon.PNG"></button>
		</div>

		<div>
			<label class="Macro">
        	<input type="checkbox" id="macro" /> Macro Hours
			</label>
		</div>

		<br>
		<table style="width:80%" class="table table-striped table-dark">
			<tr>
				<th colspan="2" id="th">Skill</th>
				<th id="th2">Method</th>
				<th id="th3">Total Hours</th>
				<th id="th4">Training Hours</th>
				<th id="th5">Money Hours</th>
				<th id="th6">Achievable XP/HR</th>
				<tbody id="t-body"> {{ table_string|safe }}</tbody>
			</tr>
		</table>
		<!--<h1>{{ colors|safe }}</h1>
		<div class="chart-container" style="position: relative; height:40vh; width:50vw">
			<canvas id="swagChart"></canvas>
		</div>
		-->
		<!--
		<script>
			$('#herblore').click(function () {
				$.ajax({
					data : {
						gp : $('#my-gp').val(),//text field into variable
						skill : 'Herblore'
					},
					type: 'POST',
					url: '/lover',//name of the function in the app
					success: function (response) {
						//alert(JSON.stringify(response));//string version of the response
						$('#t-body').empty();
						$('#t-body').append(response);
					}
				});
			});//herblore click
		</script>
		-->
		<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script> -->
		<!--<script>
			var ctx = document.getElementById('swagChart').getContext('2d');
			var chart = new Chart(ctx, {
			// The type of chart we want to create
			type: 'bar',

			// The data for our dataset
			data: {
			labels: ['Yea'],
			datasets: [{
				label: 'My First dataset',
				backgroundColor: '#e9ecef',
				borderColor: 'Black',
				data: [1],
			}]
			},

			// Configuration options go here
			options: {
				legend: {
					labels: {
						fontColor: "#ced4da",
						fontSize: 18
					}
				},//legend
				scales: {
					xAxes: [{
						ticks: {
							fontColor: "#ced4da",
						}
					}],
					yAxes: [{
						ticks: {
							fontColor: "#ced4da",
						}
					}],
				},
				layout: {
					padding: {
					}//padding
				}//layout
			}//options
			});//chart
			
			ajax_chart(chart);

			// function to update our chart
			function ajax_chart(chart) {
				//var data = data || {};
				
				chart.data.labels = ['2'];
				chart.data.datasets[0].data = [334]; // or you can iterate for multiple datasets
				chart.update(); // finally update our chart
			});
			
			
			
		</script> -->

		<script>
			const macro = document.querySelector('#macro');
		</script>


		<script>
			$('form').on('submit', function(event) {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					macro : macro.checked
				},
				type : 'POST',
				url : '/titty'
			})
			.done(function(data) {
				//alert(data);
				$('#t-body').empty();
				$('#t-body').append(data);
			});
			event.preventDefault();
			$('#th').empty();
			$('#th').append('Skill');
			$('#th2').empty();
			$('#th2').append('Method');
			$('#th3').empty();
			$('#th3').append('Total Hours');
			$('#th4').empty();
			$('#th4').append('Training Hours');
			$('#th5').empty();
			$('#th5').append('Money Hours');
			$('#th6').empty();
			$('#th6').append('Achievable XP/HR');
		});//gp-form

		$('#click').click(function () {
			$.ajax({
				data : {
					macro : macro.checked,
					level : $('#my-level').val()
				},
				type: 'POST',
				url: '/5m',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					document.getElementById('my-gp').value = '5m';
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//5m

		$('#click2').click(function () {
			$.ajax({
				data : {
					macro : macro.checked,
					level : $('#my-level').val()
				},
				type: 'POST',
				url: '/2_5m',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					document.getElementById('my-gp').value = '2.5m';
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//2.5m click

		$('#click3').click(function () {
			$.ajax({
				data : {
					macro : macro.checked,
					level : $('#my-level').val()
				},
				type: 'POST',
				url: '/1m',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					document.getElementById('my-gp').value = '1m';
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//1m click

		$('#herblore').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Herblore',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//herblore click

		$('#prayer').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Prayer',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//prayer click

		$('#crafting').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Crafting',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//crafting click

		$('#magic').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Magic',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//magic click

		$('#fletching').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Fletching',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//fletching click

		$('#smithing').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Smithing',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//smithing click

		$('#construction').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Construction',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//construction click

		$('#firemaking').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Firemaking',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//firemaking click

		$('#cooking').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Cooking',
					macro : macro.checked
				},
				type: 'POST',
				url: '/lover',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//cooking click

		$('#experience').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					macro : macro.checked
				},
				type: 'POST',
				url: '/titty',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//experience click
		
		$('#experience2').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					macro : macro.checked
				},
				type: 'POST',
				url: '/titty',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#t-body').empty();
					$('#t-body').append(response);
					$('#th').empty();
					$('#th').append('Skill');
					$('#th2').empty();
					$('#th2').append('Method');
					$('#th3').empty();
					$('#th3').append('Total Hours');
					$('#th4').empty();
					$('#th4').append('Training Hours');
					$('#th5').empty();
					$('#th5').append('Money Hours');
					$('#th6').empty();
					$('#th6').append('Achievable XP/HR');
				}
			});
		});//experience2 click

		$('#info').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					level : $('#my-level').val(),
					skill : 'Herblore'
				},
				type: 'POST',
				url: '/info',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#th').empty();
					$('#th').append('FAQs');
					$('#th2').empty();
					$('#th3').empty();
					$('#th4').empty();
					$('#th5').empty();
					$('#th6').empty();
					$('#t-body').empty();
					$('#t-body').append(response);

				}
			});
		});//info click
		
		$('#btc').click(function () {
			$.ajax({
				data : {
					gp : $('#my-gp').val(),//text field into variable
					skill : 'Herblore'
				},
				type: 'POST',
				url: '/btc',//name of the function in the app
				success: function (response) {
					//alert(JSON.stringify(response));//string version of the response
					$('#th').empty();
					$('#th').append('Cryptocurrencies');
					$('#th2').empty();
					$('#th3').empty();
					$('#th4').empty();
					$('#th5').empty();
					$('#th6').empty();
					$('#t-body').empty();
					$('#t-body').append(response);
				}
			});
		});//BTC click

		</script>
		<!--<button id="ye">Click Me</button> -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --->
		<!--<script>
			$('#ye').click(function(){
				$.ajax({
					type: 'GET',
					url: '/beta',
					success: function (response) {
						alert(response);
					}
				});
			});
		</script>-->
		<!---<script src="/static/js/form.js"></script> --->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>